@import "./menu.scss";
@import "colors";
html {
  font-family: "Montserrat";
  font-size: 16px;
}

body {
  //position: fixed;
  display: grid;
  width: auto;
  margin: 0;
  height: 100vh;
  grid-template-rows: 3fr 1fr;
}

h6 {
  margin: 0;
}

.hero-container {
  grid-row: 1;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 159, 104, 0.75);
  background-image: url(./Images/cape-town-900.png);
  background-size: cover;
  background-blend-mode: color-burn;
}

.summary {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-row: 1;
  grid-column: 1/3;
}

.cityName {
  padding-right: 0.3em;
}

.big-temp-display {
  grid-column: 1;
  grid-row: 2;
}

.summary-details {
  grid-column: 2;
  grid-row: 2;
}

.icon {
  text-align: center;
  left: -6px;
  position: relative;
  color: $main-color;
}

.image-white-filter {
  filter: invert(100%) contrast(3);
}

.footer-container {
  grid-row: 2;
}

.footer-info-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.temp-title {
  left: -8px;
  position: relative;
}

.temp-icon {
  transform: scale(0.8);
}
