$main-color: rgba(255, 255, 255, 0.9);
$sec-color: rgba(255, 255, 255, 0.85);
$dark-color: rgba(0, 0, 0, 0.9);
$sec-dark-color: rgba(0, 0, 0, 0.7);
$aux-color: rgba(255, 255, 255, 1);
$button-color: rgb(66, 133, 244);
$search-color: #159257;
$placeholder-text-color: hsla(0, 0%, 0%, 0.69);

/*LOADER*/
$loaderBackground: hsl(0, 0%, 100%);
$initialColour: #a9ca03;
$finalColour: #025d9e;

// Icon BG colors
$day-color: HSL(51, 90.8%, 57.5%);
$night-color: hsl(205.5, 51.6%, 25.1%);
$hot-color: #cb2e2e;
$cold-color: hsl(205.4, 58.5%, 48.2%);
