$main-color: rgba(255, 255, 255, 0.9);
$sec-color: rgba(255, 255, 255, 0.85);
$dark-color: rgba(0, 0, 0, 0.7);
$sec-dark-color: rgba(0, 0, 0, 0.7);
$aux-color: rgba(255, 255, 255, 1);
$button-color: rgb(66, 133, 244);
$search-color: hsla(0, 0%, 10%, 0.8);
$placeholder-text-color: hsla(0, 0%, 0%, 0.69);

/*LOADER*/
$loaderBackground: hsl(0, 0%, 100%);
$initialColour: #a9ca03;
$finalColour: #025d9e;

// Icon BG colors
$day-color: HSL(51, 90.8%, 57.5%);
$night-color: hsl(205.5, 51.6%, 25.1%);
$hot-color: hsl(19.9, 83.1%, 53.7%);
$cold-color: hsl(205.4, 58.5%, 48.2%);

//$Clouds: rgb(226, 243, 245, 0.75);
//$Snow: rgb(34, 209, 238, 0.75);
//$Rain: rgb(61, 90, 241, 0.75);
//$Clear: rgb(250, 238, 28, 0.75);
//$Windy: rgb(156, 29, 231, 0.75);
//$Thunderstorm: rgb(88, 27, 152, 0.75);
//$Drizzle: rgb(197, 227, 246, 0.75);
