/*LOADER*/
.stack-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-space-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

button {
  padding: 1em;
  font-weight: 700;
  border: none;
  color: white;
  background-color: #4285f4;
}

button:hover {
  background-color: #5a95f5;
}

.round {
  border-radius: 50%;
}

.input-lrg {
  padding: 1em 0.5em;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.margin-top-bottom-x2 {
  margin: 2em 0;
}

.margin-top-bottom {
  margin: 1em 0;
}

.margin-top {
  margin-top: 0.5em;
}

.margin-top-x1-25 {
  margin-top: 0.75em;
}

.margin-top-x2 {
  margin-top: 1em;
}

.margin-top-x3 {
  margin-top: 1.5em;
}

.margin-bottom {
  margin-bottom: 0.5em;
}

.margin-bottom-x2 {
  margin-bottom: 1em;
}

.margin-bottom-x4 {
  margin-bottom: 2em;
}

.margin-sides-x2 {
  margin-left: 2em;
  margin-right: 2em;
}

.margin-left {
  margin-left: 1em;
}

.margin-left-x2 {
  margin-left: 2em;
}

.full-width {
  width: 100%;
}

.em-width {
  width: 1em;
}

.center-text {
  text-align: center;
}

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0;
}

.auto-margin-sides {
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px auto;
      grid-template-columns: 35px auto;
}

.small-img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.main-color {
  color: rgba(255, 255, 255, 0.9);
}

.sec-color {
  color: rgba(255, 255, 255, 0.85);
}

.dark-color {
  color: rgba(0, 0, 0, 0.7);
}

.sec-dark-color {
  color: rgba(0, 0, 0, 0.7);
}

.day-color {
  background-color: HSL(51, 90.8%, 57.5%);
}

.night-color {
  background-color: #1f4561;
}

.hot-color {
  background-color: #eb6827;
}

.cold-color {
  background-color: #3386c3;
}

.text-small {
  font-size: 0.5em;
}

.text-normal {
  font-size: 1em;
}

.text-lrg {
  font-size: 2em;
}

.text-xlrg {
  font-size: 4em;
}

.text-xxlrg {
  font-size: 6em;
}

.light-font {
  font-weight: 400;
}

.medium-font {
  font-weight: 500;
}

.xtra-light-font {
  font-weight: 300;
}

.upcase {
  text-transform: uppercase;
}

.shift-left {
  left: -6px;
  position: relative;
}

.no-overflow-x {
  overflow-x: hidden;
}

.side-auto-margin {
  margin: 0 auto;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.block {
  display: block;
}

.auto-width {
  width: auto;
}

.btn-shadow {
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
}

.no-decoration {
  text-decoration: none;
}

.italic-font {
  font-style: italic;
}
/*# sourceMappingURL=util.css.map */